@charset "UTF-8";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }
  body .navbar {
    transition: .3s ease; }
    body .navbar .navbar-brand {
      margin-right: 0px;
      height: 80px; }
    body .navbar.hide {
      top: -100px; }
    @media only screen and (min-width: 768px) {
      body .navbar {
        transition: none; }
        body .navbar.hide {
          top: 0px;
          transition: none; } }
    @media only screen and (max-width: 460px) {
      body .navbar.hide {
        top: -150px; } }
    body .navbar .navbar-light .navbar-nav .nav-link {
      line-height: 1.625rem;
      color: rgba(0, 0, 0, 0.7);
      transition: .3s ease !important; }
    body .navbar .navbar-light .navbar-nav .nav-link :hover {
      color: #000; }
  body .main {
    text-align: left; }
    body .main header {
      background: whitesmoke;
      /*背景色*/
      border-top: 1px solid #4b3f3f;
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-grow: 1 2; }
      @media only screen and (min-width: 460px) {
        body .main header {
          align-items: stretch; } }
      body .main header .wr {
        max-width: 35%;
        max-height: 100%; }
        @media only screen and (min-width: 900px) {
          body .main header .wr {
            max-width: 45%; } }
        body .main header .wr img {
          max-width: 100%;
          max-height: 90%;
          margin-top: 10px;
          margin-right: 5px; }
      body .main header .header-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        flex-grow: 1 2; }
        @media only screen and (min-width: 460px) {
          body .main header .header-main .top {
            display: flex;
            justify-content: space-between; } }
        @media only screen and (min-width: 900px) {
          body .main header .header-main .top {
            justify-content: flex-start; } }
        body .main header .header-main .top .title {
          margin: 10px; }
        body .main header .header-main .top .rate {
          margin: 10px 0 0 20px; }
          @media only screen and (min-width: 460px) {
            body .main header .header-main .top .rate {
              margin: 10px 25px 0 0; } }
        body .main header .header-main .info {
          font-size: 0.8em;
          padding: 0.5em 1em;
          color: #474747; }
          @media only screen and (min-width: 900px) {
            body .main header .header-main .info {
              display: flex; } }
          body .main header .header-main .info p {
            margin: 0; }
          body .main header .header-main .info div {
            margin: 0 0 5px 5px;
            width: 100%; }
    @media only screen and (min-width: 720px) {
      body .main .contain {
        display: flex;
        flex: 1 1;
        justify-content: space-around; } }
    body .main .contain .comments {
      min-width: 50%; }
      body .main .contain .comments h4 {
        font-size: 1.5em;
        margin: 10px 0; }
      body .main .contain .comments p {
        margin: 0; }
      body .main .contain .comments .comment {
        padding: 0.5em 1em;
        margin: 1.5em 0;
        color: #00BCD4;
        background: #e4fcff;
        /*背景色*/
        border-top: solid 6px #1dc1d6;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
        min-height: 150px; }
        body .main .contain .comments .comment .name {
          text-align: right; }
      body .main .contain .comments form {
        margin: 10px;
        min-height: 150px; }
        body .main .contain .comments form input, body .main .contain .comments form textarea {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 10px;
          margin-bottom: 30px;
          padding: 18px;
          font-size: 18px;
          border: 1px solid #dee7ec; }
        body .main .contain .comments form textarea {
          height: 150px; }
        body .main .contain .comments form .submit {
          background-color: #dee7ec;
          color: #889eab;
          transition: .3s ease; }
          body .main .contain .comments form .submit:hover {
            background-color: #b7d4e4;
            color: #8856df;
            cursor: pointer; }
    body .main .contain .rooms h4 {
      font-size: 1.5em;
      margin: 10px 0; }
    body .main .contain .rooms table {
      margin-top: 15px;
      margin-left: 20px;
      margin-right: 20px; }
      body .main .contain .rooms table tbody tr {
        height: 100px; }
        body .main .contain .rooms table tbody tr .img {
          width: 150px; }
          body .main .contain .rooms table tbody tr .img img {
            display: block;
            width: 120px;
            margin-left: auto;
            margin-right: auto; }

/*# sourceMappingURL=index.css.map */
